.sliderDiv{
    margin-left: 200;
    margin-right: 200;
    margin-top: 5;
    margin-bottom: 5;
}
.slider{
    border-radius: 20px;
    background-color: #181818;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

